/* .custom-scroll::-webkit-scrollbar{
    width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb{
    border-radius: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
    background-color: #ccc;
}

.app{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app_navbar{
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
}

.app_outer{
    flex:1;
    width:100%;
    overflow-x: auto;
}

.app_boards{
    min-width: fit-content;
    display: flex;
    height: 100%;
    padding-bottom: 0;
    padding: 20px;
    gap:30px;
}

.app_boards_board{
    min-width: 290px;
    width: 290px;
}

.app_boards_board_add
{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0, 0, 0,0.15);
}

.app_boards_board_add:hover{
    box-shadow: 1px 2px 0 1px #ccc;
} */

.custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    border: 1px solid gray;
  }
  
  .app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .app_nav {
    padding: 30px;
    box-shadow: 0 1px 20px rgba(56, 40, 40, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .app_boards_container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding-top: 20px;
  }
  
  .app_boards {
    height: 100%;
    width: fit-content;
    padding: 10px 30px;
    display: flex;
    gap: 30px;
  }
  
  .app_boards_last {
    flex-basis: 290px;
    min-width: 290px;
  }
  
  .app_boards_add-board {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
  }
  .app_boards_add-board_edit {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }